extends layout

block content
  h1 #{title}（今日〜6日後まで）
  
  table(class="wrapper")
    thead
      tr
        td(rowspan="2")
        td(id="month" colspan="7")
      tr(class="day7")
        td(id="today+0")
        td(id="today+1")
        td(id="today+2")
        td(id="today+3")
        td(id="today+4")
        td(id="today+5")
        td(id="today+6")
    tbody
      tr(id="schedule-container")
        th
          table(class="time")
            tr
              th 9:00
            tr
              th 9:30
            tr
              th 10:00
            tr
              th 10:30
            tr
              th 11:00
            tr
              th 11:30
            tr
              th 12:00
            tr
              th &nbsp;
            tr
              th 16:00
            tr
              th 16:30
            tr
              th 17:00
            tr
              th 17:30
            tr
              th 18:00
            tr
              th 18:30
            tr
              th 19:00
            tr
              th 19:30
            tr
              th(class="lastCell") 20:00
        - var schedule = schedules;
        - for (var i = 0; i < 7; i++)
          th
            form(method="post", action="/schedules", name=schedule[i].date)
              input(class="scroll" type="hidden" name="yOffset" value="0")
              table
                tr
                  th(class="scheduleDate") #{schedule[i].date} <input type="date" name="date" value=#{schedule[i].date}>
                tr
                  td
                    div(class="status") #{schedule[i].reserve_9_00}
                    div(class="edit_select")
                      button(name="reserve_9_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_9_00" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_9_30}
                    div(class="edit_select")
                      button(name="reserve_9_30" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_9_30" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_10_00}
                    div(class="edit_select")
                      button(name="reserve_10_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_10_00" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_10_30}
                    div(class="edit_select")
                      button(name="reserve_10_30" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_10_30" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_11_00}
                    div(class="edit_select")
                      button(name="reserve_11_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_11_00" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_11_30}
                    div(class="edit_select")
                      button(name="reserve_11_30" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_11_30" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_12_00}
                    div(class="edit_select")
                      button(name="reserve_12_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_12_00" value="0" type="submit")
                        span キャンセル
                tr
                  td(class="emptyCell")
                    div(class="status") &nbsp;
                tr
                  td
                    div(class="status") #{schedule[i].reserve_16_00}
                    div(class="edit_select")
                      button(name="reserve_16_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_16_00" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_16_30}
                    div(class="edit_select")
                      button(name="reserve_16_30" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_16_30" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_17_00}
                    div(class="edit_select")
                      button(name="reserve_17_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_17_00" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_17_30}
                    div(class="edit_select")
                      button(name="reserve_17_30" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_17_30" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_18_00}
                    div(class="edit_select")
                      button(name="reserve_18_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_18_00" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_18_30}
                    div(class="edit_select")
                      button(name="reserve_18_30" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_18_30" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_19_00}
                    div(class="edit_select")
                      button(name="reserve_19_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_19_00" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_19_30}
                    div(class="edit_select")
                      button(name="reserve_19_30" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_19_30" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_20_00}
                    div(class="edit_select")
                      button(name="reserve_20_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_20_00" value="0" type="submit")
                        span キャンセル
  

  h1 #{title}（7日後〜13日後まで）
  
  table(class="wrapper")
    thead
      tr
        td(rowspan="2")
        td(id="month2" colspan="7")
      tr(class="day7")
        td(id="today+7")
        td(id="today+8")
        td(id="today+9")
        td(id="today+10")
        td(id="today+11")
        td(id="today+12")
        td(id="today+13")
    tbody
      tr(id="schedule-container2")
        th
          table(class="time")
            tr
              th 9:00
            tr
              th 9:30
            tr
              th 10:00
            tr
              th 10:30
            tr
              th 11:00
            tr
              th 11:30
            tr
              th 12:00
            tr
              th &nbsp;
            tr
              th 16:00
            tr
              th 16:30
            tr
              th 17:00
            tr
              th 17:30
            tr
              th 18:00
            tr
              th 18:30
            tr
              th 19:00
            tr
              th 19:30
            tr
              th(class="lastCell") 20:00
        - var schedule = schedules;
        - for (var i = 7; i < 14; i++)
          th
            form(method="post", action="/schedules", name=schedule[i].date)
              input(class="scroll" type="hidden" name="yOffset" value="0")
              table
                tr
                  th(class="scheduleDate") #{schedule[i].date} <input type="date" name="date" value=#{schedule[i].date}>
                tr
                  td
                    div(class="status") #{schedule[i].reserve_9_00}
                    div(class="edit_select")
                      button(name="reserve_9_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_9_00" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_9_30}
                    div(class="edit_select")
                      button(name="reserve_9_30" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_9_30" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_10_00}
                    div(class="edit_select")
                      button(name="reserve_10_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_10_00" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_10_30}
                    div(class="edit_select")
                      button(name="reserve_10_30" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_10_30" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_11_00}
                    div(class="edit_select")
                      button(name="reserve_11_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_11_00" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_11_30}
                    div(class="edit_select")
                      button(name="reserve_11_30" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_11_30" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_12_00}
                    div(class="edit_select")
                      button(name="reserve_12_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_12_00" value="0" type="submit")
                        span キャンセル
                tr
                  td(class="emptyCell")
                    div(class="status") &nbsp;
                tr
                  td
                    div(class="status") #{schedule[i].reserve_16_00}
                    div(class="edit_select")
                      button(name="reserve_16_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_16_00" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_16_30}
                    div(class="edit_select")
                      button(name="reserve_16_30" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_16_30" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_17_00}
                    div(class="edit_select")
                      button(name="reserve_17_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_17_00" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_17_30}
                    div(class="edit_select")
                      button(name="reserve_17_30" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_17_30" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_18_00}
                    div(class="edit_select")
                      button(name="reserve_18_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_18_00" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_18_30}
                    div(class="edit_select")
                      button(name="reserve_18_30" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_18_30" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_19_00}
                    div(class="edit_select")
                      button(name="reserve_19_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_19_00" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_19_30}
                    div(class="edit_select")
                      button(name="reserve_19_30" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_19_30" value="0" type="submit")
                        span キャンセル
                tr
                  td
                    div(class="status") #{schedule[i].reserve_20_00}
                    div(class="edit_select")
                      button(name="reserve_20_00" value="1" type="submit")
                        span 予約する
                    div(class="edit_select")
                      button(name="reserve_20_00" value="0" type="submit")
                        span キャンセル
  


  form(method="post", action="/schedules")
    input(class="scroll" type="hidden" name="yOffset" value="0")
    div(class="date_direct")
      h1 日時を直接入力
      input(type="date" name="date")
    
    table(class="reserve_direct")
      tr
        th 時間
        th 予約選択
      tr
        th 9:00
        td
          div(class="edit_select") <input type="radio" name="reserve_9_00" value="1">予約する
          div(class="edit_select") <input type="radio" name="reserve_9_00" value="0">キャンセル
      tr
        th 9:30
        td
          div(class="edit_select") <input type="radio" name="reserve_9_30" value="1">予約する
          div(class="edit_select") <input type="radio" name="reserve_9_30" value="0">キャンセル
      tr
        th 10:00
        td
          div(class="edit_select") <input type="radio" name="reserve_10_00" value="1">予約する
          div(class="edit_select") <input type="radio" name="reserve_10_00" value="0">キャンセル
      tr
        th 10:30
        td
          div(class="edit_select") <input type="radio" name="reserve_10_30" value="1">予約する
          div(class="edit_select") <input type="radio" name="reserve_10_30" value="0">キャンセル
      tr
        th 11:00
        td
          div(class="edit_select") <input type="radio" name="reserve_11_00" value="1">予約する
          div(class="edit_select") <input type="radio" name="reserve_11_00" value="0">キャンセル
      tr
        th 11:30
        td
          div(class="edit_select") <input type="radio" name="reserve_11_30" value="1">予約する
          div(class="edit_select") <input type="radio" name="reserve_11_30" value="0">キャンセル
      tr
        th 12:00
        td
          div(class="edit_select") <input type="radio" name="reserve_12_00" value="1">予約する
          div(class="edit_select") <input type="radio" name="reserve_12_00" value="0">キャンセル
      tr
        th &nbsp;
        td(class="empty") &nbsp;
      tr
        th 16:00
        td
          div(class="edit_select") <input type="radio" name="reserve_16_00" value="1">予約する
          div(class="edit_select") <input type="radio" name="reserve_16_00" value="0">キャンセル
      tr
        th 16:30
        td
          div(class="edit_select") <input type="radio" name="reserve_16_30" value="1">予約する
          div(class="edit_select") <input type="radio" name="reserve_16_30" value="0">キャンセル
      tr
        th 17:00
        td
          div(class="edit_select") <input type="radio" name="reserve_17_00" value="1">予約する
          div(class="edit_select") <input type="radio" name="reserve_17_00" value="0">キャンセル
      tr
        th 17:30
        td
          div(class="edit_select") <input type="radio" name="reserve_17_30" value="1">予約する
          div(class="edit_select") <input type="radio" name="reserve_17_30" value="0">キャンセル
      tr
        th 18:00
        td
          div(class="edit_select") <input type="radio" name="reserve_18_00" value="1">予約する
          div(class="edit_select") <input type="radio" name="reserve_18_00" value="0">キャンセル
      tr
        th 18:30
        td
          div(class="edit_select") <input type="radio" name="reserve_18_30" value="1">予約する
          div(class="edit_select") <input type="radio" name="reserve_18_30" value="0">キャンセル
      tr
        th 19:00
        td
          div(class="edit_select") <input type="radio" name="reserve_19_00" value="1">予約する
          div(class="edit_select") <input type="radio" name="reserve_19_00" value="0">キャンセル
      tr
        th 19:30
        td
          div(class="edit_select") <input type="radio" name="reserve_19_30" value="1">予約する
          div(class="edit_select") <input type="radio" name="reserve_19_30" value="0">キャンセル
      tr
        th 20:00
        td
          div(class="edit_select") <input type="radio" name="reserve_20_00" value="1">予約する
          div(class="edit_select") <input type="radio" name="reserve_20_00" value="0">キャンセル
        
    button(type="submit") 予定をつくる

  script(src='/javascripts/calendar.js')
  script(src='/javascripts/table_view.js')
  script(src='/javascripts/after_week.js')
  script(src='/javascripts/holiday.js')
  link(rel='stylesheet', href='/stylesheets/schedule_edit.css')